$thumbBase: 100px;
$borderBase: 50%;
$andyBlue: #2196f3;

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

html * {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#logo {
	position: absolute;
	top: 10px;
	right: 20px;
	z-index: 9999;
	background: white;
	padding: 5px 0 0 5px;
	max-width: 220px;

	img {
		max-width: 200px;
	}

	@media (min-width: 480px) {
		top: 20px;
		max-width: 400px;

		img {
			max-width: 400px;
		}
	}
}

#map {
	height: calc( 100vh - 100px );
	width: 100%;
}

#rail {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: $thumbBase;
	overflow: hidden;
	z-index: 999;
}

#time {
	position: absolute;
	bottom: $thumbBase;
	height: 2em;
	z-index: 999;
	line-height: 2em;
	padding-left: 0.5em;
	font-family: Helvetica Neue, Helvetica;
	font-size: 1.6em;
}

#addBtnWrapper {
	@extend .center;
	position: absolute;
	bottom: 0;
	right: 0;
	width: $thumbBase;
	height: $thumbBase;
	background: white;

	&:before {
		content: '';
		position: absolute;
		left: -$thumbBase / 2;
		width: $thumbBase / 2;
		height: $thumbBase;
		background: linear-gradient( to right, rgba(255, 255, 255, 0), white );
	}
}

#addBtn {
	@extend .center;
	width: 75px;
	height: 75px;
	background-color: $andyBlue;
	border-radius: $borderBase;
	color: white;
	font-size: 33px;
	line-height: 75px;

	.fa-camera {
		position: absolute;
		top: $thumbBase / 3;
		left: $thumbBase / 3;
	}

	#fileinput {
		width: $thumbBase;
		height: $thumbBase;
		opacity: 0;
		cursor: pointer;
	}
}

#thumbs {
	width: calc(100% - 100px);
	height: $thumbBase;
	transition: opacity .4s linear;
	display: flex;
	flex-wrap: nowrap;
	overflow: scroll;
	opacity: 0;

	img {
		min-width: 100px;
		cursor: pointer;
		margin: 0 5px 0 0;
	}
}

#loadingWrapper {
	width: 100%;
	height: $thumbBase;
	position: absolute;
	bottom: 0;
	padding: 10px;
	overflow: hidden;
}

#loading {
	@extend .center;
	width: 75px;
	height: 75px;
	margin: auto;
	border-radius: $borderBase;
	border-top: 10px solid rgba(33, 150, 243, 0.2);
	border-right: 10px solid rgba(33, 150, 243, 0.2);
	border-bottom: 10px solid rgba(33, 150, 243, 0.2);
	border-left: 10px solid rgba(33, 150, 243, 1);
	transform: translateZ(0);
	animation: spin 1s infinite linear;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
